.page {
  width: 100%;
  background-color: #D4BAA4;
  font-family: 'Inter', sans-serif;
  max-width: 1280px;
  margin: 0 auto 0;
  color: #3F3D4B;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

