@import url(./__loading-logo/page__loading-logo.css);
@import url(./__loading/page__loading.css);

html {
  scroll-behavior: smooth;
}

.page {
  width: 100%;
  min-width: 300px;
  background-color: #2A2C2F;
  font-family: 'Inter', sans-serif;
  margin: 0 auto 0;
  color: #F4F5F5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

@media (max-width: 1279px) {

}

@media (max-width: 1023px) {

}

@media (max-width: 675px) {

}

/* Debugging breakpoints */

@media (min-width: 1280px) {

}

@media (min-width: 1024px) {

}

@media (min-width: 760px) {

}

@media (min-width: 375px) {

}
