.experience__other-box {
  margin: 0;
  padding: 16px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 16px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0.6;
}

.experience__other-box:hover {
  /* box-shadow: 0 0px 12px var(--box-shadow); */
  background-color: var(--secondary-bg);
  opacity: 0.8;
}

@media (max-width: 1023px) {
  .experience__other-box {
    background-color: var(--secondary-bg);
    opacity: 0.8;
    /* opacity: 1; */
  }
}
