@import url(./__download-icon/experience__download-icon.css);
@import url(./__download-text/experience__download-text.css);
@import url(./__download/experience__download.css);
@import url(./__logo-wrapper/experience__logo-wrapper.css);
@import url(./__logo/experience__logo.css);
@import url(./__positions/experience__positions.css);
@import url(./__role-description/experience__role-description.css);
@import url(./__role-place/experience__role-place.css);
@import url(./__role-time/experience__role-time.css);
@import url(./__role-title/experience__role-title.css);
@import url(./__role/experience__role.css);
@import url(./__skills/experience__skills.css);
@import url(./__subtitle/experience__subtitle.css);
@import url(./__text/experience__text.css);
@import url(./__time-and-place/experience__time-and-place.css);
@import url(./__title/experience__title.css);
@import url(./__other-box/experience__other-box.css);
@import url(./__other-brief/experience__other-brief.css);
@import url(./__other-positions/experience__other-positions.css);
@import url(./__other-time/experience__other-time.css);
@import url(./__other-title/experience__other-title.css);
@import url(./__other-wrap/experience__other-wrap.css);
@import url(./__other-org/experience__other-org.css);

/* modifiers */
@import url(./__logo/_theme/experience__logo_theme_dark.css);
@import url(./__logo/_theme/experience__logo_theme_light.css);

.experience {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 96px 48px 48px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: var(--primary-bg);
  position: relative;
}

@media (max-width: 1023px) {
  .experience {
    padding: 66px 48px 48px;
  }
}

@media (max-width: 675px) {
  .experience {
    padding: 70px 20px 20px;
  }
}
