.current__content {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 48px;
  max-width: 1200px;
}

@media (max-width: 1023px) {
  .current__content {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 675px) {
  .current__content {
    gap: 24px;
  }
}
