.intro__headshot {
  border-radius: 50%;
  width: 30%;
  opacity: 0.8;
  min-width: 220px;
  /* position: absolute;
  top: 15%;
  left: 15%; */
  -webkit-filter: drop-shadow(0 0 3px var(--box-shadow));
  filter: drop-shadow(0 0 3px var(--box-shadow));
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  margin-right: 32px;
}

.intro__headshot:hover {
  opacity: 1;
}

@media (max-width: 1279px) {
}

@media (max-width: 1023px) {
  .intro__headshot {
    margin-right: 0;
    margin-bottom: 32px;
  }
}

@media (max-width: 675px) {
}
