.intro__scroll-button {
  display: none;
  border-radius: 50px;
  border: 2px solid #F4F5F5;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: scale(0);
  animation: popup .5s ease 1s forwards;
}

@media (max-width: 460px) {
  .intro__scroll-button {
    display: flex;
  }
}
