.projects__card-image-wrapper {
  width: 200px;
  height: 200px;
  max-width: 260px;
  max-height: 260px;
  overflow: hidden;
  border-radius: 50%;
  -webkit-filter: drop-shadow(0 0 3px var(--box-shadow));
          filter: drop-shadow(0 0 3px var(--box-shadow));
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* .projects__card-image-wrapper::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #00000038 30%, #ffffff44 100%);
  background: radial-gradient(circle, rgba(63,61,75,0.6068802521008403) 0%, rgba(255,255,255,0) 50%);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
} */
