.current__headshot {
  border-radius: 50%;
  width: 100%;
  max-width: 380px;
  background-size: cover;
  /* align-self: center; */
  /* position: absolute;
  top: 15%;
  left: 15%; */
  /* filter: drop-shadow(0 0 0.75rem #28262B); */
  opacity: 0.9;
  -webkit-filter: drop-shadow(0 0 3px var(--box-shadow));
          filter: drop-shadow(0 0 3px var(--box-shadow));
}

@media (max-width: 675px) {
  .current__headshot {
    justify-self: center;
  }
}
