.current__title {
  font-size: 72px;
  line-height: 1.1;
  font-weight: 900;
  margin: 0;
  margin-bottom: 20px;
}

@media (max-width: 675px) {
  .current__title {
    font-size: 48px;
    text-align: center;
  }
}

@media (max-width: 460px) {
  .current__title {
    text-align: left;
  }
}
