@-webkit-keyframes logo-face {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  10% {
    opacity: 0;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  30% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  90% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes logo-face {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  10% {
    opacity: 0;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  30% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  90% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.page__loading-logo {
  width: 10%;
  height: 0;
  padding-top: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../../images/logo-new-nobrdr.svg");
  -webkit-animation: logo-face 1s ease forwards;
  animation: logo-face 1s ease forwards;
}

@media (max-width: 1279px) {
}

@media (max-width: 1023px) {
}

@media (max-width: 675px) {
}

/* Debugging breakpoints */

@media (min-width: 1280px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 760px) {
}

@media (min-width: 375px) {
}
