.contact__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 56px;
  border-radius: 50px;
  border: 3px solid var(--text);
  transition: background-color 0.2s ease-in-out;
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}

.contact__button:first-child {
  margin-right: 20px;
}

.contact__button:hover {
  cursor: pointer;
  background-color: var(--secondary-bg);
}

@media (max-width: 1023px) {
  .contact__button {
    width: 160px;
    height: 40px;
  }
}

@media (max-width: 460px) {
  .contact__button:first-child {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
