@import url("./__content/intro__content.css");
@import url("./__headshot/intro__headshot.css");
@import url("./__link/intro__link.css");
@import url("./__links/intro__links.css");
@import url("./__scroll-button/intro__scroll-button.css");
@import url("./__scroll-icon/intro__scroll-icon.css");
@import url("./__subtitle/intro__subtitle.css");
@import url("./__text/intro__text.css");
@import url("./__title/intro__title.css");


/* Animation frames for buttons? */
@keyframes bounce {
  0% {
    transform: translateY(-50px);
    opacity: 0;
    animation-timing-function: ease;
  }
  45% {
    transform: translateY(-10x);
    opacity: 1;
    animation-timing-function: ease;
  }
  55% {
    transform: translateY(0px);
    opacity: 1;
    animation-timing-function: ease;
  }
  100% {
    transform: translateY(30px);
    opacity: 0;
  }
}

/* Animation for text appear */
@keyframes popup {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Animation for button appear on larger screens */
@keyframes button-pop {
  0% {
    opacity: 0;
    transform: scale(.7);
  }
  25% {
    opacity: .6;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.intro {
  /* height: calc(100vh - 96px); */
  height: 100vh;
  min-height: 700px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */

  /* padding-top: 200px;
  padding-left: 450px; */
  box-sizing: border-box;
}
