@import url("./__headshot/intro__headshot.css");
@import url("./__text/intro__text.css");
@import url("./__subtitle/intro__subtitle.css");

@keyframes bounce {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(15px);
    opacity: .6;
  }
}

.intro {
  /* height: calc(100vh - 96px); */
  height: 100vh;
  min-height: 700px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */

  /* padding-top: 200px;
  padding-left: 450px; */
  box-sizing: border-box;
}

.intro__content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.intro__title {
  margin: 0;
  font-size: 72px;
  line-height: 1;
  font-weight: 900;
  margin-bottom: 10px;
  text-align: center;
}

.intro__links {
  display: flex;
  justify-content: space-between;
  width: 75%;
  align-self: center;
}

.intro__link {
  /* color: #3f3d4b80; */
  /* text-transform: uppercase; */
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 112px;
  height: 32px;
  border-radius: 50px;
  border: 2px solid #3F3D4B;
  transform: scale(1);
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  text-decoration: none;
  color: inherit;
}

.intro__link:hover {
  background-color: rgb(165,125,79, .5);
  color: black;
}

.intro__link:active {
  transform: scale(.95);
}

.intro__scroll-icon {
  display: none;
}

/* * {
  border: 1px solid red;
} */

@media (max-width: 1279px) {

}



@media (max-width: 1023px) {
  .intro__content {
    flex-direction: column;
  }
  .intro__title {
    font-size: 48px;
  }
}



@media (max-width: 675px) {
  .intro__links {
    width: 100%;

    /* flex-direction: column;
    align-items: center;
    justify-content: space-between; */
  }
  .intro__link {
    margin-bottom: 16px;
    width: 104px;
    height: 28px;
    font-size: 14px;
  }


}

@media (max-width: 460px) {
  .intro__links {
    display: none;
  }
  .intro__scroll-icon {
    display: initial;
    animation: bounce 1s ease-in-out .3s infinite alternate;
  }
}
