.media {
  background: var(--background-ellipse-primary);
  padding-top: 72px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 96px 48px 48px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: var(--primary-bg);
  background: var(--background-ellipse-primary);
  position: relative;
}

.media__title {
  color: var(--primary-text);
  font-size: 72px;
  line-height: 1;
  font-weight: 900;
  margin: 0;
  margin-bottom: 0.5em;
  max-width: 50%;
  min-width: 300px;
  text-align: center;
  position: relative;
}

.media__subtitle {
  margin: 0;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.4;
  width: 75%;
  max-width: 828px;
  font-family: "RobotoSlab";
  font-weight: 400;
  opacity: 0.8;
  text-align: center;
}

.media__list {
  padding: 0;
  margin: 0;
}

.media-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid gray;
  padding: 32px;
  border-radius: 32px;
  margin-bottom: 16px;
  background: var(--primary-bg);
}

.media-item__image {
  width: 200px; /* Or whatever size you want */
  height: 200px; /* Make it a square */
  min-width: 200px; /* Or whatever size you want */
  min-height: 200px; /* Make it a square */
  border-radius: 50%; /* Make it a circle */
  -o-object-fit: cover;
  object-fit: cover; /* Cover the whole 'box' */
  overflow: hidden; /* Hide anything outside the circle */
  margin-right: 32px;
}

.media-item__metadata {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 12px;
}
.media-item__title {
  margin: 0;
  margin-bottom: 12px;
}
.media-item__link {
  color: inherit;
}

.media-item__description {
  margin: 0;
  margin-bottom: 12px;
}

.media-item__type {
  margin: 0;
  margin-right: 16px;
  /* display: flex; */
  /* align-items: center; */
  /* justify-items: center; */
  /* padding: 8px 16px; */
  /* border: 1px solid var(--icons); */
  /* background-color: var(--secondary-bg); */
  /* border-radius: 50px; */
  font-weight: bold;
}

.media-item__date {
  margin: 0;
}

.media-item__tags {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 0;
}

.media-item__tag {
  margin: 0;
  margin-right: 12px;
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
  padding: 8px 12px;
  border: 1px solid var(--icons);
  background-color: var(--secondary-bg);
  background: var(--background-ellipse-secondary);
  border-radius: 50px;
  font-size: 12px;
}

.media-item__read-length {
  margin: 0;
}

@media (max-width: 1023px) {
  .media {
    padding: 66px 48px 48px;
  }
  .media__title {
    max-width: 90%;
    margin-bottom: 20px;
  }
}

@media (max-width: 675px) {
  .media {
    padding: 70px 20px 20px;
  }
  .media__subtitle {
    margin-bottom: 20px;
    width: 75%;
  }
  .media-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .media-item__image {
    margin-right: 0;
    margin-bottom: 16px;
  }
  .media__title {
    font-size: 48px;
    margin-bottom: 16px;
  }
}

@media (max-width: 460px) {
  .media__subtitle {
    text-align: right;
    width: 100%;
  }
  .media__title {
    max-width: 100%;
    margin: 0 0 16px;
    text-align: right;
  }
}
