.experience__other-positions {
  display: grid;
  grid-template-columns: repeat(2, minmax(448px, 1fr));
  gap: 12px;
  width: 100%;
  max-width: 980px;
  overflow-x: auto;
  margin-bottom: 16px;
  border-radius: 16px;
}

@media (max-width: 1023px) {
  .experience__other-positions {
    -webkit-box-shadow: inset 0 0px 12px var(--box-shadow);
            box-shadow: inset 0 0px 12px var(--box-shadow);
    grid-template-columns: repeat(1, minmax(464px, 1fr));
    max-width: 800px;
  }
}

@media (max-width: 675px) {
  .experience__other-positions {
    grid-template-columns: repeat(2, minmax(464px, 1fr));
  }
}
