@import url(./__content/about__content.css);
@import url(./__experience-button/about__experience-button.css);
@import url(./__headshot/about__headshot.css);
@import url(./__paragraph/about__paragraph.css);
@import url(./__subtitle/about__subtitle.css);
@import url(./__text/about__text.css);
@import url(./__title/about__title.css);

.about {
  height: 100vh;
  max-height: 1200px;
  min-height: 700px;
  width: 100%;
  background-color: var(--secondary-bg);
  width: 100%;
  padding: 48px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

@media (max-width: 1023px) {
  .about {
    max-height: none;
    height: auto;
    padding: 48px 36px;
  }
}

@media (max-width: 675px) {
  .about {
    padding: 36px 20px;
  }
}
