.projects__card {
  padding: 24px 16px 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
  border-radius: 20px;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: 0.8;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
  /* min-height: 100%; */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 475px;
  margin: 0 auto;
}

.projects__card:hover {
  opacity: 1;
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-box-shadow: 0 0px 12px var(--box-shadow);
  box-shadow: 0 0px 12px var(--box-shadow);
  background-color: var(--secondary-bg);
}

.projects__card:nth-of-type(10) {
  display: none;
}

.projects__card:nth-of-type(11) {
  display: none;
}

@media (max-width: 1186px) {
  .projects__card:nth-of-type(10) {
    display: flex;
  }
}

@media (max-width: 1024px) {
  .projects__card {
    -webkit-box-shadow: 0 0px 4px var(--box-shadow);
    box-shadow: 0 0px 4px var(--box-shadow);
    opacity: 1;
    background-color: var(--secondary-bg);
  }
}

@media (max-width: 816px) {
  .projects__card:nth-of-type(11) {
    display: flex;
  }
}

@media (max-width: 675px) {
  .projects__card {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .projects__card:hover {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-box-shadow: 0 0px 4px var(--box-shadow);
    box-shadow: 0 0px 4px var(--box-shadow);
  }
}
