.projects__card {
  padding: 24px 16px 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  border-radius: 20px;
  transform: translateY(0);
  box-shadow: none;
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
  position: relative;
  /* min-height: 100%; */
  box-sizing: border-box;
  max-width: 475px;
  margin: 0 auto;
}

.projects__card:hover {
  opacity: 1;
  transform: translateY(-10px);
  box-shadow: 0 0px 12px var(--box-shadow);
  background-color: var(--secondary-bg);
}

@media (max-width: 1023px) {
  .projects__card {
    box-shadow: 0 0px 4px var(--box-shadow);
    opacity: 1;
    background-color: var(--secondary-bg);
  }
}

@media (max-width: 675px) {
  .projects__card {
    transform: none;
    /* box-shadow: 0 0px 12px #28262B; */
    /* border: 3px solid #F4F5F5;
    box-shadow: 0 0 3px #28262B; */
  }

  .projects__card:hover {
    transform: none;
    box-shadow: 0 0px 4px var(--box-shadow);
  }
}

/* @media (max-width: 460px) {
  .projects__card {
    padding: 24px 16px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    border-radius: 20px;
    border: 3px solid #F4F5F5;
    transform: translateY(0);
    box-shadow: 0 0px 24px #28262B;
  }
  .projects__card:hover {
    transform: none;
  }
} */
