.attention {
  font-weight: 700;
  text-decoration: none;
  color: inherit;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.attention:hover {
  opacity: 0.7;
}
