.contact {
  min-height: 50vh;
  background-color: #C6A27B;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__title {
  font-size: 72px;
  line-height: 1;
  font-weight: 900;
  margin: 0;
  margin-bottom: 10px;
}

.contact__subtitle {
  margin: 0;
  line-height: 1.2;
  text-align: center;
  font-weight: 400;
  max-width: 400px;
  margin-bottom: 20px;
}

.contact__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 56px;
  border-radius: 50px;
  border: 3px solid #3F3D4B;
  transition: background-color .2s ease-in-out;
  text-decoration: none;
  color: inherit;
}

.contact__button:hover {
  cursor: pointer;
  background-color: rgb(165,125,79, .5);
}
