@import url(./__button/contact__button.css);
@import url(./__content/contact__content.css);
@import url(./__subtitle/contact__subtitle.css);
@import url(./__title/contact__title.css);

.contact {
  padding: 124px 0;
  background-color: var(--tertiary-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}
