.intro__link {
  /* color: #28262B80; */
  /* text-transform: uppercase; */
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 112px;
  height: 32px;
  border-radius: 50px;
  border: 2px solid var(--text);
  transform: scale(1);
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  text-decoration: none;
  color: inherit;

  /* Properties for button pop animation
  transform: scale(0);
  opacity: 0; */
}

.intro__link:hover {
  background-color: var(--secondary-bg);
}

.intro__link:active {
  transform: scale(0.95);
}

/*
button-pop animation

.intro__link:nth-child(1) {
  animation: button-pop 1s ease 2s forwards;
}

.intro__link:nth-child(2) {
  animation: button-pop 1s ease 2.2s forwards;
}

.intro__link:nth-child(3) {
  animation: button-pop 1s ease 2.4s forwards;
} */

@media (max-width: 675px) {
  .intro__link {
    margin-bottom: 16px;
    width: 104px;
    height: 28px;
    font-size: 14px;
  }
}
