@import url(./__author-link/footer__author-link.css);
@import url(./__author/footer__author.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__social-icon/footer__social-icon.css);
@import url(./__social-link/footer__social-link.css);
@import url(./__socials/footer__socials.css);

.footer {
  /* height: 108px; */
  width: 100%;
  background-color: var(--footer);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 48px;
  box-sizing: border-box;
  box-shadow: 0 0 8px var(--box-shadow);
  color: var(--text);
  font-family: "RobotoSlab";
}
