.footer {
  height: 108px;
  width: 100%;
  background-color: #A57D4F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 48px 0;
  box-sizing: border-box;
  box-shadow: 0 0 8px #3F3D4B;
}

.footer__author {
  margin: 0;
  font-size: 12px;
  font-weight: 700;
  display: flex;
  align-items: center;
  line-height: 18px;
}

.footer__socials {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 536px;
}

.footer__social-link {
  height: 38px;
}

.footer__social-icon {
  width: 28px;
  height: 28px;
  fill: #3F3D4B;

}

.footer__copyright {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
}
