.projects__icon-box {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 84px;
  -ms-flex-item-align: center;
      align-self: center;
  position: absolute;
  bottom: 8px;
  /* transiting properties */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.projects__card:hover .projects__icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

@media (max-width: 1023px) {
  .projects__icon-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 675px) {
  .projects__icon-box {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 72px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}
