/* * {
  border: 1px solid gray;
} */

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  75% { transform: rotate(0deg); }
 80% { transform: rotate(-5deg); }
 85% { transform: rotate(5deg); }
 95% { transform: rotate(-5deg); }
100% { transform: rotate(0deg); }
}

.projects {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 96px 48px 48px;
  box-sizing: border-box;
}

.projects__title {
  font-size: 72px;
  line-height: 1;
  font-weight: 900;
  margin: 0;
  margin-bottom: 24px;
}

.projects__subtitle {
  margin: 0;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  text-align: center;
  width: 50%;
  font-family: 'RobotoSlab';
  font-weight: 400;
}

.projects__projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1260px;
  padding: 0px;
}

.projects__card {
  padding: 24px 16px 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  border-radius: 20px;
  transform: translateY(0);
  box-shadow: none;
  opacity: .8;
  transition: all .2s ease-in-out;
  position: relative;
  /* min-height: 100%; */
  box-sizing: border-box;
  max-width: 475px;
  margin: 0 auto;

}

.projects__card:hover {
  opacity: 1;
  transform: translateY(-10px);
  box-shadow: 0 0px 12px #3F3D4B;
}

.projects__card-image-wrapper {
  width: 200px;
  height: 200px;
  max-width: 260px;
  max-height: 260px;
  overflow: hidden;
  border-radius: 50%;
  filter: drop-shadow(0 0 3px #3F3D4B);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects__card-image {
  height: 100%;
  align-self: flex-start;
  filter: sepia(45%);
}

.projects__number {
  display: none;
  color: #FFEFDD;
  text-shadow: 0 0 25px #3F3D4B;
  font-size: 72px;
  margin: 0;
  width: 100%;
  text-align: center;
  font-weight: 900;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
  opacity: .9;
}

.projects__card-image_landscape {
  width: 100%;
}

.projects__card-image-wrapper::after {
  content: "";
  width: 100%;
  height: 100%;
  /* background: linear-gradient(0deg, #00000038 30%, #ffffff44 100%); */
  /* background: radial-gradient(circle, rgba(63,61,75,0.6068802521008403) 0%, rgba(255,255,255,0) 50%); */
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}

.projects__project-title {
  font-weight: 900;
  font-size: 28px;
  max-width: 100%;
  text-align: center;
  margin: 0;
  line-height: 1.2;
  margin: 14px 0;
}

.projects__title-link {
  color: inherit;
  text-decoration: none;
  position: relative;
  margin: 0;
}


/* Fancy underline on hover... not sure if I like */

/* .projects__project-title::after {
  content: "";
  height: 2px;
  width: 50%;
  margin: 0 auto;
  position: absolute;
  bottom: 10px;
  left: 50%;
  border-radius: 50px;
  background-color: #3f3d4b;
  transform: scale(0) translate(-50%, 0);
  transition: all .2s ease-in-out;
  visibility: hidden;
}

.projects__card:hover .projects__project-title::after {
  transform: scale(1) translate(-50%, 0);
  visibility: visible;
} */

.projects__project-description {
  text-align: center;
  max-width: 95%;
  margin: 0 0 14px;
  line-height: 1.2;
  font-family: 'RobotoSlab';
  font-weight: 300;
}

.projects__project-tech {
  margin: 0;
  line-height: 1;
  font-size: 12px;
  margin-bottom: 12px;
  font-family: 'RobotoSlab';
  font-weight: 300;
}

.projects__icon-box {
  justify-content: space-between;
  width: 84px;
  align-self: center;
  position: absolute;
  bottom: 8px;
  /* transiting properties */
  display: flex;
  transform: scale(0);
  opacity: 0;
  transition: all .2s ease-in-out;
}

.projects__card:hover .projects__icon-box {
  display: flex;
  transform: scale(1);
  opacity: 1;
}

.projects__icon {
  height: 28px;
  width: 28px;
}

.projects__card:hover .projects__icon {
  animation: wiggle 1s linear;
}

@media (max-width: 1279px) {

}

@media (max-width: 1023px) {
  .projects__card {
    box-shadow: 0 0px 4px #3F3D4B;
    opacity: 1;
  }

  .projects__icon-box {
    display: flex;
    transform: scale(1);
    opacity: 1;
  }

  .projects__subtitle {
    width: 75%;
  }
}

@media (max-width: 675px) {
  .projects__title {
    font-size: 48px;
    line-height: 1;
    font-weight: 900;
    margin: 0;
    margin-bottom: 20px;
  }

  .projects__projects {
    grid-template-columns: repeat(auto-fit, minmax(286px, 1fr));
    gap: 20px;
  }

  .projects {
    padding: 28px 20px 20px;
  }

  .projects__card {
    transform: none;
    /* box-shadow: 0 0px 12px #3F3D4B; */
    /* border: 3px solid #3F3D4B;
    box-shadow: 0 0 3px #3F3D4B; */
  }

  .projects__card:hover {
    transform: none;
    box-shadow: 0 0px 4px #3F3D4B;
  }

  .projects__icon-box {
    justify-content: space-between;
    width: 72px;
    align-self: flex-end;
  }

  .projects__subtitle {
    margin-bottom: 12px;
  }

}

@media (max-width: 460px) {
  .projects__title {
    align-self: flex-end;
  }
  .projects__subtitle {
    text-align: right;
    width: 100%;
  }
}




/* @media (max-width: 460px) {
  .projects__card {
    padding: 24px 16px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    border-radius: 20px;
    border: 3px solid #3F3D4B;
    transform: translateY(0);
    box-shadow: 0 0px 24px #3F3D4B;
  }
  .projects__card:hover {
    transform: none;
  }
  .projects__open-link {
    display: block;
  }
} */

/* Messing around with title button styling */

/* @media (max-width: 460px) {
  .projects__project-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    width: 50%;
    height: 1.5em;
    border-radius: 50px;
    border: 3px solid #3F3D4B;
    transition: background-color .2s ease-in-out;
    text-decoration: none;
    color: inherit;
    font-size: 16px;
  }
} */


