@import url(./__card-image-wrapper/projects__card-image-wrapper.css);
@import url(./__card-image/__card-image.css);
@import url(./__card/projects__card.css);
@import url(./__icon-box/projects__icon-box.css);
@import url(./__icon/projects__icon.css);
@import url(./__number/projects__number.css);
@import url(./__project-description/projects__project-description.css);
@import url(./__project-tech/projects__project-tech.css);
@import url(./__project-title/projects__project-title.css);
@import url(./__projects/projects__projects.css);
@import url(./__subtitle/project__subtitle.css);
@import url(./__title-link/projects__title-link.css);
@import url(./__title/project__title.css);

/* Modifiers */
@import url(./__card-image/_landscape/projects__card-image_landscape.css);

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 96px 48px 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 675px) {
  .projects {
    padding: 28px 20px 20px;
  }
}
